* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
width: 100%;
  background-color: #084645;
  height: 90px;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: #e7f3f2
;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header  {
    height: auto;
    

  }
  
  
  .header a {
    float: none;
    display: block;
    text-align: left;
    

  }
  
  .header-right {
    float: none;
        display: block;

  }
  
   .header .header-right{
   display: none;
  }

}




@media only screen and (max-width: 595px) {
 

  
   .header:hover .header-right 
  {
   display: block;
    transition: .9s;
  }
  
}



